:root{
    --text-color: #ffff;
    --card-front-color: #5f30b4;
    --card-back-color: #bb91e2;
}
body{
    background-image: url(img/bio.webp);
    font-family: Tomorrow;
}
.cartao_conteudo{
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
#container {
    display: flex;
    flex-wrap: wrap;
}
.cartao{
    margin: 1rem 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}